<header>
  <div class="header-container">
    <div class="logo">
      <div class="logo-image">
        <img src="/images/flyingboo.gif" alt="logo" />
      </div>
      <h1>HelpMe!</h1>
    </div>
    <nav>
      <a href="/">Accueil</a>
      <a href="/connexion">Se connecter</a>
    </nav>
  </div>
</header>
